{% load static %}
<html>
    <body>
        <div id="Base">
            <div align="center">
                <img src="{% static 'laberinto.png' %}" alt="Imagen en formato png del laberinto">
                <p align="center"><button>Resolver</button></p>
                <h3 align="left">
                Laberinto en texto
                </h3>
                <p align="left">| 1 | i 3 4 | 5 6 | </p>
                <p align="left">s s s s s - </p>
                <p align="left">| 7 | 8 9 | 10 | 11 | 12 | </p>
                <p align="left">s - - s s s </p>
                <p align="left">| 13 14 15 | 16 | 17 | 18 | </p>
                <p align="left">- s s s s s </p>
                <p align="left">| 19 | 20 | 21 22 | 23 | 24 | </p>
                <p align="left">s s - - s s </p>
                <p align="left">| 25 | 26 27 28 29 | 30 | </p>
                <p align="left">s - - s - s </p>
                <p align="left">| 31 f 33 34 35 36 | </p>

            </div>
        </div>

    </body>
</html>